<div class = "container-fluid">
  <div class = "wrapper col-md-8 col-md-offset-2 col-sm-10" >

    <p><%= notice %></p>
    <h1>投稿一覧</h1>
    <%= link_to "新しく投稿する", new_topic_path, class:'btn btn-default' %>

    <br>
    <br>

    <% @topics.each do |topic| %>
      <div class="row">
        <%= link_to topic_path(topic) do %>
          <h4><strong><%= topic.content %></strong></h4>
        <% end %>
        <br>
        <p>投稿者：<%= User.find(topic.user_id).name %></p>
        <%= link_to "編集する", edit_topic_path(topic.id), class: 'btn btn-default btn-small btn-success' %>
        <%= link_to "削除する", topic_path(topic.id), method: :delete, data: {confirm: '本当に削除してよいですか？'}, class:"btn btn-default btn-small btn-danger" %>
      </div>
    <% end %>

  </div>
</div>
